.hg/
bin/
include/
lib/
.hgignore
.DS_Store
pydev/
share/
*.pyc
web2py/applications/pycon/private/*.pem
web2py/applications/pycon/private/*.p12
web2py/applications/pycon/private/*.txt
*.orig
.Python
*.secret
*~
*.table
*sessions/
*errors/
web2py/applications/admin/sessions/
web2py/applications/pycon/ABOUT~
web2py/applications/pycon/databases/
web2py/applications/pycon/models/0.py.secret
web2py/applications/pycon/cache/
web2py/applications/pycon/sessions/
*.log
